# Normaliza saltos de línea
* text=auto eol=lf

# Scripts de Windows con CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Binarios (no tocar)
*.png binary
*.jpg binary
*.jks binary
*.keystore binary
*.jar binary
*.apk binary
